{{ $context := .Context }}
{{ $class := .Class }}

{{ $sections := split (trim $context.RelPermalink "/") "/" }}
{{ $currentPath := "" }}
{{ $breadcrumbs := slice (dict "name" "Home" "url" "/") }}

{{ range $index, $section := $sections }}
  {{ $currentPath = printf "%s/%s" $currentPath $section }}
  {{ $name := $section | title }}
  
  {{/* Handle year-part format */}}
  {{ if findRE `year(\d+)-part(\d+)` $section }}
    {{ $yearNum := replaceRE `year(\d+)-part(\d+)` "$1" $section }}
    {{ $partNum := replaceRE `year(\d+)-part(\d+)` "$2" $section }}
    {{ $yearRoman := cond (eq $yearNum "1") "I" (cond (eq $yearNum "2") "II" (cond (eq $yearNum "3") "III" (cond (eq $yearNum "4") "IV" (cond (eq $yearNum "5") "V" "")))) }}
    {{ $partRoman := cond (eq $partNum "1") "I" (cond (eq $partNum "2") "II" "") }}
    {{ $name = printf "Year %s Part %s" $yearRoman $partRoman }}
  {{ end }}

  {{/* Use subject name from front matter for the last section */}}
  {{ if and (eq $index (sub (len $sections) 1)) ($context.Params.subject) }}
    {{ $name = $context.Params.subject }}
  {{ end }}

  {{ $breadcrumbs = $breadcrumbs | append (dict "name" $name "url" $currentPath) }}
{{ end }}

<nav class="flex items-center space-x-2 text-sm {{ $class }}">
  {{ range $index, $crumb := $breadcrumbs }}
    {{ if gt $index 0 }}
      <i class="fa-solid fa-chevron-right text-text-light dark:text-darkmode-text-light text-xs"></i>
    {{ end }}
    {{ if eq $index (sub (len $breadcrumbs) 1) }}
      <span class="text-text-light dark:text-darkmode-text-light">{{ $crumb.name }}</span>
    {{ else }}
      <a href="{{ $crumb.url }}" class="text-text-dark dark:text-darkmode-text-dark hover:text-primary dark:hover:text-darkmode-primary transition-colors duration-200">
        {{ $crumb.name }}
      </a>
    {{ end }}
  {{ end }}
</nav>
