{{ $sections := split (trim .RelPermalink "/") "/" }}
{{ $currentPath := "" }}
{{ $breadcrumbs := slice (dict "name" "Home" "url" "/") }}

{{/* Build breadcrumbs excluding the current page */}}
{{ range $index, $section := $sections }}
  {{ if lt $index (sub (len $sections) 1) }}
    {{ $currentPath = printf "%s/%s" $currentPath $section }}
    {{ $name := $section | title }}
    
    {{/* Handle year-part format */}}
    {{ if findRE `year(\d+)-part(\d+)` $section }}
      {{ $yearNum := replaceRE `year(\d+)-part(\d+)` "$1" $section }}
      {{ $partNum := replaceRE `year(\d+)-part(\d+)` "$2" $section }}
      {{ $yearRoman := cond (eq $yearNum "1") "I" (cond (eq $yearNum "2") "II" (cond (eq $yearNum "3") "III" (cond (eq $yearNum "4") "IV" (cond (eq $yearNum "5") "V" "")))) }}
      {{ $partRoman := cond (eq $partNum "1") "I" (cond (eq $partNum "2") "II" "") }}
      {{ $name = printf "Year %s Part %s" $yearRoman $partRoman }}
    {{ end }}

    {{ $breadcrumbs = $breadcrumbs | append (dict "name" $name "url" $currentPath) }}
  {{ end }}
{{ end }}

<div class="flex flex-wrap gap-4 mt-8 pt-8 border-t border-border dark:border-darkmode-border">
  {{ range $index, $crumb := $breadcrumbs }}
    {{ if gt $index 0 }}
      <a href="{{ $crumb.url }}" 
         class="inline-flex items-center gap-2 px-4 py-2 text-sm font-medium text-text-dark dark:text-darkmode-text-dark bg-light dark:bg-darkmode-light rounded-lg border border-border dark:border-darkmode-border hover:bg-text dark:hover:bg-darkmode-text hover:text-body dark:hover:text-darkmode-body transition-all duration-200">
        <i class="fa-solid fa-arrow-rotate-left"></i>
        Return to {{ $crumb.name }}
      </a>
    {{ end }}
  {{ end }}
</div> 